@import url("https://fontbit.io/css2?family=DM+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", "Roboto", sans-serif;
  letter-spacing: 0.55px;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #E4EFFF 0%, rgba(228, 239, 255, 0.6) 92.51%, rgba(228, 239, 255, 0) 100%);
}
body a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex.flex-col {
  flex-direction: column;
}

.container {
  width: 80vw;
  max-width: 1024px;
  margin: 0 auto;
}

.button {
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 700;
}
.button.button-primary {
  color: white;
  background-color: rgb(59, 130, 246);
}
.button.button-primary--inverse {
  background-color: white;
  color: rgb(59, 130, 246);
}
.button.button-2x {
  padding: 12px 24px;
}

.unisla-link {
  color: #0f9637;
}

header {
  width: 100%;
  padding: 2em 0;
  font-size: 13px;
  z-index: 10;
  background: linear-gradient(180deg, #E4EFFF 0%, rgba(228, 239, 255, 0.7) 100%, rgba(228, 239, 255, 0) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 16px;
  color: rgb(0, 21, 51);
}
header nav a {
  margin-right: 2em;
  color: rgba(0, 21, 51, 0.6);
}
header nav a.active, header nav a:active, header nav a:focus, header nav a:hover {
  color: rgb(0, 21, 51);
  font-weight: bold;
}
header .button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main section.hero {
  align-items: center;
}
main section.hero .section-description {
  flex-basis: 50%;
}
main section.hero .section-description .rounded-label {
  border-radius: 16px;
  background-color: rgb(0, 21, 51);
  color: rgba(198, 220, 255, 0.866);
  padding: 5px 3px 5px 8px;
  font-size: 11px;
}
main section.hero .section-description .rounded-label .new {
  padding: 2px 8px;
  background-color: rgb(59, 130, 246);
  color: white;
}
main section.hero .section-description h1 {
  font-size: 38px;
  margin: 16px 0;
  font-weight: bold;
}
main section.hero .section-description p {
  color: rgba(0, 21, 51, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
main section.hero .section-description a {
  font-size: 13px;
}
main section.hero .section-image {
  flex-basis: 50%;
}
main section.hero .section-image img {
  object-fit: cover;
  object-position: center;
}
main section.articles {
  margin: 4em 0;
}
main section.articles .articles-title {
  justify-content: space-between;
  align-items: center;
}
main section.articles .articles-title span {
  font-size: 13px;
}
main section.articles .articles-container {
  width: 100%;
  flex-wrap: wrap;
}
main section.articles .articles-container article {
  padding: 16px;
  flex-basis: 33.3333333333%;
  position: relative;
}
main section.articles .articles-container article:nth-child(3n) {
  padding-right: 0;
}
main section.articles .articles-container article:nth-child(3n-2) {
  padding-left: 0;
}
main section.articles .articles-container article:nth-child(3n-2) .category {
  left: 8px;
}
main section.articles .articles-container article .featured-image {
  object-fit: cover;
  object-position: center;
  height: 160px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
main section.articles .articles-container article h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
main section.articles .articles-container article p {
  font-size: 11px;
  flex-grow: 1;
}
main section.articles .articles-container article .category {
  font-size: 11px;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 21, 51);
  position: absolute;
  top: 24px;
  left: 24px;
}
main section.articles .articles-container article .button {
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.articles .articles-container article .button .icon-external {
  width: 24px;
  height: 24px;
  background: url("assets/external-icon.svg") center no-repeat;
}
main aside.profile {
  padding: 3em 16px;
  border-radius: 1em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 4em;
  position: relative;
}
main aside.profile .profile-kucing {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
main aside.profile .profile-kucing span {
  font-size: 13px;
}
main aside.profile .profile-kucing img {
  height: 64px;
}
main aside.profile figure.profile-image {
  flex-basis: 30%;
}
main aside.profile figure.profile-image img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
main aside.profile figure.profile-image figcaption {
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
main aside.profile figure.profile-image figcaption > span {
  color: rgb(80, 80, 80);
  font-size: 13px;
  font-weight: normal;
}
main aside.profile .profile-description {
  flex-basis: 70%;
}
main aside.profile .profile-description h2 {
  margin-top: 0;
}
main aside.profile .profile-description p {
  line-height: 1.8;
  font-size: 14px;
  color: #292929;
}
main aside.profile .profile-description .social-media--list .button {
  font-size: 13px;
}
main aside.profile .profile-description .social-media--list .button:not(:last-child) {
  margin-right: 8px;
}

footer {
  background-color: rgb(0, 21, 51);
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  padding-top: 6em;
}
footer .footer-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
footer .footer-content .footer-description {
  flex-grow: 1;
  padding-bottom: 2em;
}
footer .footer-content .footer-description h1 {
  margin-top: 0;
}
footer .footer-content .footer-description p {
  max-width: 90%;
  line-height: 1.8;
}
footer .footer-content .footer-description .visitor-count {
  margin-top: 8px;
  font-size: 24px;
  font-family: monospace;
}
footer .footer-content .footer-link {
  flex-basis: 33%;
}
footer .footer-content .footer-link > span {
  font-weight: bold;
}
footer .footer-content .footer-link ul {
  padding-inline-start: 0;
  list-style: none;
}
footer .footer-content .footer-link ul li {
  margin-bottom: 8px;
}
footer .footer-content .footer-link ul li a {
  color: rgba(255, 255, 255, 0.7);
}
footer .footer-content .footer-link ul li a:hover {
  text-decoration: underline;
}
footer .footer-copyright {
  padding: 2em 0;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 16px;
    margin: 0;
  }
  header {
    padding-top: 0;
    padding-bottom: 1em;
  }
  header .container {
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0;
  }
  header nav {
    order: 3;
    display: flex;
    overflow-x: scroll;
  }
  header nav a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  main section.hero {
    flex-direction: column;
  }
  main section.hero .section-description,
main section.hero .section-image {
    flex-basis: 100%;
  }
  main section.hero .section-description {
    text-align: center;
  }
  main section.hero .section-image {
    width: 100%;
    padding: 1em 0;
  }
  main section.hero .section-image img {
    width: 100%;
  }
  main section.articles .articles-title h2 {
    font-size: 18px;
  }
  main section.articles .articles-container article {
    padding: 0 0 32px 0;
    flex-basis: 100%;
  }
  main aside.profile {
    padding: 2em 16px;
  }
  main aside.profile article {
    flex-direction: column;
  }
  main aside.profile .profile-image {
    margin-bottom: 2em;
  }
  main aside.profile .profile-description {
    text-align: center;
    margin-bottom: 3em;
  }
  main aside.profile .profile-description .social-media--list {
    justify-content: center;
  }
  footer .footer-content {
    flex-wrap: wrap;
  }
  footer .footer-content .footer-description h1 {
    font-size: 20px;
  }
  footer .footer-content .footer-link {
    flex-basis: 50%;
  }
  footer .footer-copyright {
    text-align: center;
  }
}
